*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.main-container {
    background: red;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 10px;
    gap: 10px;
}

.upper {
    background: green;
    width: 100%;
    height: 25%;
    display: flex;
    gap: 10px;
}

.upper-item {
    background: beige;
    width: 100%;
}

.lower {
    background: blue;
    width: 100%;
    height: 75%;
    display: flex;
    gap: 10px;
}

.left {
    background: lightblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    background: darkblue;
    width: 10%;
    height: 10%;
}

.right {
    background: cyan;
    width: 100%;
}