*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    background:rgb(107, 114, 174);
    height:100vh;
    width: 100vw;

    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    flex-direction:column;
}

.ground {
    flex: 0 0 auto;
    background:rgb(36, 66, 17);
    width: 7000px;
    height:100vh;
    position: relative;
    top:100%;
}

.upper {
    display: flex;
    height: 30%;
    z-index: 10;
}

.plant {
    position: absolute;
    margin-left:250px;
    bottom:70vh;
}

.lower {
    background:lightgray;
    display: flex;
    flex-direction:row;
    height:70%;
    width: 7000px;
    /* align-items:inherit; */
    justify-content: flex-start;
    /* position: relative; */
}

.doc {
    position: absolute;
    margin-left:20px;
    margin-top:35px;
}

.memory {
    display:inline-block;
    position: sticky;
    height:20px;
    width: 0px;
    margin-left: 500px;
    gap: 100px;
}